QUESTIONS-1)

A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

NULL HYPOTHESIS: THERE IS NO SIGNIFICANT DIFFERENCE BETWEEN THE DIAMESTER OF THE CUTLETS BETWEEN TWO OUTLETS.

ALTERNATE HYPOTHESIS: THERE IS A  SIGNIFICANT DIFFERENCE BETWEEN THE DIAMESTER OF THE CUTLET BETWEEN TWO OUTLETS.

SOLUTION:

In [1]:
import pandas as pdjgtjgjuguguguggjugugug
from scipy import stats

In [2]:
cutlets=pd.read_csv("C:\\Users\\nehas\\Downloads\\Cutlets.csv")
cutlets.hesad()

    Unit A  Unit B
0   6.8090  6.7703
1   6.4376  7.5093
2   6.9157  6.7300
3   7.3012  6.7878
4   7.4488  7.1522
5   7.3871  6.8110
6   6.8755  7.2212
7   7.0621  6.6606
8   6.6840  7.2402
9   6.8236  7.0503
10  7.3930  6.8810
11  7.5169  7.4059
12  6.9246  6.7652
13  6.9256  6.0380
14  6.5797  7.1581
15  6.8394  7.0240
16  6.5970  6.6672
17  7.2705  7.4314
18  7.2828  7.3070
19  7.3495  6.7478
20  6.9438  6.8889
21  7.1560  7.4220
22  6.5341  6.5217
23  7.2854  7.1688
24  6.9952  6.7594
25  6.8568  6.9399
26  7.2163  7.0133
27  6.6801  6.9182
28  6.9431  6.3346
29  7.0852  7.5459
30  6.7794  7.0992
31  7.2783  7.1180
32  7.1561  6.6965
33  7.3943  6.5780
34  6.9405  7.3875

In [20]:
UNITA=cutlets.iloc[:,0]
UNITB=cutlets.iloc[:,1]

In [21]:
stats.ttest_ind(UNITA,UNITB)

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

since, the p value >0.05 significant level ,which rejects alternate hypothesis and accept null hypothesis ,
that there is no significant difference between the diameter of the  cultlets of two outlets.

QUESTIONS:3

A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.
   
Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

NULL HYPOTHESIS:There is no significant  difference in average TAT among the different laboratories 

ALTERNATE HYPOTHESIS:There is a significant difference in average TAT among the different laboratories

In [17]:
lab=pd.read_csv("C:\\Users\\nehas\\Downloads\\LabTAT.csv")
lab

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [22]:
stats.f_oneway(lab.iloc[:,0],lab.iloc[:,1],lab.iloc[:,2],lab.iloc[:,3])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

The p value <0.05 significance level which rejects the null hypothesis  and accept alternate hypothesis 
,which conclude that there is a difference in average TAT among the different laboratories .

QUESTION-3

Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

SOLUTIONS:

In [5]:
buyerratio=pd.DataFrame([[50,142,131,70],[550,351,480,350]],
                       index=["Males",'Females'],
                       columns=['East','West','North','South'])
buyerratio

         East  West  North  South
Males      50   142    131     70
Females   550   351    480    350

NULL HYPOTHESIS:The male and female buyer rations are significantly  similar  across the region.

ALTERNATE HYPOTHESIS:The male and female buyer rations are statsically significantly different across the regions .

In [10]:
stats.chi2_contingency(buyerratio)

(80.27295426602495,
 2.682172557281901e-17,
 3,
 array([[111.01694915,  91.21892655, 113.05225989,  77.71186441],
        [488.98305085, 401.78107345, 497.94774011, 342.28813559]]))

yes,The p-value<alpha(0.05 significant level) which rejects null hypothesis and accept alternate hypothesis ,that male  and female buyer rations is statistically significantly  different across the regions.

QUESTIONS-4)

TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

NULL HYPOTHESIS:There is no significant defect in the order form of telecall centers.

ALTERNATE HYPOTHESIS:There is a significant defect in the order form of telecall centers.

In [27]:
mtw=pd.read_csv("C:\\Users\\nehas\\Downloads\\Costomer+OrderForm(1).csv")
mtw

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [29]:
p=stats.f_oneway(lab.iloc[:,0],lab.iloc[:,1],lab.iloc[:,2],lab.iloc[:,3])
p

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

The p value <0.05 significance level , which rejects null hypothesis and accept  alternate hypothesis which conclude that there is a significant defect in the order form of the telecall centres.